@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #A6CDC6;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 500;
  margin-left: 10px;
  font-size: 2.5rem;
  color: #D84040;
}
.fa-clipboard-list {
  font-size: 2.6rem;
  color: #D84040;
}
.edit-mode {
  outline: 2px solid #228B22;
  color: #7F8487;
}
.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  outline: 3px solid #16404D;
  border-radius: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('images/ka-t-a2tqgBjRUGI-unsplash.jpg');
  background-size: cover;
}
/* Modal */
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}
.modal-content {
  background-color: #DDA853;
  margin: 25% auto;
  padding: 1.5rem;
  width: 60%;
  text-align: center;
  font-family: arial, sans-serif;
  color: #16404D;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.modal-content button {
  width: 50%;
  margin: .5rem 0;
  padding: .5rem 0;
  font-size: 1.15rem;
  border: none;
  border-radius: 8px;
}
#cancel {
  background-color: #16404D;
  color: white;
}
#clear-all {
  background-color: #D84040;
  color: white
}

/* Form & Input */
.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #A6CDC6;
  color: #16404D; 
}

.form-input-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  color: #fff;
}

/* Buttons */
.btn {
  background-color: #16404D;
  color: #A6CDC6;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(2px);
  color: #A6CDC6;
}


.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: #16404D;
  color: #A6CDC6;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.fa-trash-can {
  margin-left: 1rem;
  font-size: 1.25rem;
}

.btn-clear:hover {
  background-color: #A6CDC6;
  color: #16404D;
}

.text-red {
  color: #D84040;
  font-size: 1.35rem;  
}

/* Items */

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 0 5px 20px;
  font-weight: 700;
  background-color: #A6CDC6;
  color: #16404D;
}


@media (max-width: 500px) {
  .items li {
    width: 100%;
  }
  .container {
    margin: 20% 1rem;
  }
}
